body{
    background: #ffffff;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}
.navbar{
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 2.7px;
    text-transform: uppercase;
    text-align: center;
    margin: 26px;
}

.menu{
    list-style: none;
    margin: 25px;
    padding: 0 ;
}

.menu-item{
    display: inline;
    text-align: center;
    margin-left: 70px;
}

.links{
    color: #ff0000;
    text-decoration: none;
}

.main-img{
    width: 100%;
}

.title-main{
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 3.3px;
    text-transform: uppercase;
    color: #373737;
    text-align: center;
    margin-top: 49px;
}

.main-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 2.4px;
    color: #373737;
    margin: 38px 67px;
}

.footer-text{
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 2.4px;
    color: #373737;
    text-align: right;
    margin-right: 105px;
    margin-bottom: 29px;
}

.main-div{
    display: inline;
    border: 1px solid;
}
.main-button{
    display: block;
    margin: 0 auto;
    background-color: #ff0000;
    color: #ffffff;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 3px;
    text-transform: uppercase;
    padding: 18px 45px;
    border-radius: 4px;
}


